
<include file="Index:header" />
<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
        rbac
    <!-- /top tiles -->
    <br />
</div>
<!-- /page content -->
<!-- footer content -->
<include file="Index:footer" />
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="__PUBLIC__/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__PUBLIC__/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="__PUBLIC__/build/js/custom.js"></script>

</body>
</html>
