
<include file="Index:header" />
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3> {$pageNav.parent} <small>{$pageNav.current}</small></h3>
            </div>

            <div class="title_right">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{$pageNav.current}</h2>
                        <ul class="nav navbar-right">
                            <a href="{:U(MODULE_NAME.'/Rbac/menu')}" class="btn btn-sm btn-primary">返回</a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="form-user" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{:U(MODULE_NAME.'/Rbac/editMenu')}">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">菜单名称 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12" value="{$data.title}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pid" class="control-label col-md-3 col-sm-3 col-xs-12">上级菜单<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="pid" name="pid" class="form-control" required>
                                        <option value="0" <if condition="$data.pid eq 0">selected</if> >顶级菜单</option>
                                        <foreach name='node' item='v'>
                                            <option value="{$v.id}" <eq name="data.pid" value="$v.id">selected</eq> >--{$v.title}[{$v.controller}/{$v.action}]</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="controller">控制器 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="controller" name="controller" required="required" class="form-control col-md-7 col-xs-12" value="{$data.controller}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">方法名 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="action" name="action" required="required" class="form-control col-md-7 col-xs-12" value="{$data.action}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sort">排序 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="sort" name="sort" required="required" class="form-control col-md-7 col-xs-12" value="{$data.sort}">
                                </div>
                            </div>

                            <div class="form-group menuLogo">
                                <label  class="control-label col-md-3 col-sm-3 col-xs-12">菜单logo<span class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="input-group-btn">
                                        <button id="showlogo" type="button" class="btn btn-block btn-default" data-toggle="dropdown">
                                            <a><i class="{$data.logo}"></i> {$data.logo} </a>
                                        </button>
                                        <input type="hidden" name="logo" value="{$data.logo}">
                                        <ul class="dropdown-menu">
                                            <foreach name="icons.list" item="v">
                                                <li onclick="logoCheck(this);"><a><i class="{$v}"></i> {$v} </a></li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="remark">说明
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="remark" name="remark" class="form-control col-md-7 col-xs-12" value="{$data.remark}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="show" class="control-label col-md-3 col-sm-3 col-xs-12">是否显示<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="show" name="show" class="form-control">
                                        <option value="1" <if condition="$data.show eq 1">selected</if> >显示</option>
                                        <option value="2" <if condition="$data.show neq 1">selected</if> >隐藏</option>
                                    </select>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input type="hidden" name="id" value="{$data.id}" >
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<!-- /page content -->
<!-- footer content -->
<include file="Index:footer" />
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="__PUBLIC__/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__PUBLIC__/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="__PUBLIC__/build/js/custom.js"></script>

<script>
    $(function(){
        icons_toggle();
        $('select[name=pid]').change(function(){
            icons_toggle();
        })
    })
    function icons_toggle(){
        var icons_check = $("select[name='pid']").val();
        if (icons_check == 0) {
            $('.menuLogo').show();
        } else {
            $('.menuLogo').hide();
        }
    }

    function logoCheck(obj){
        var nowClass = $(obj).find("i").attr("class");
        $("#showlogo").val(nowClass);
        $("#showlogo").html($(obj).find("a").html());
        $("input[name=logo]").val(nowClass);
    }
</script>

</body>
</html>
